$theme-colors: (
  'primary': #020f39,
  'secondary': #3d45d3,
  'tertiary': #e2254d,
  'quaternary': #b5d5f3
);
$font-family-base: 'Roboto Condensed', sans-serif;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-print-styles: false;
$bv-enable-table-stacked: false;
$body-bg: #e5e4e5;
// BOOTSTRAP VARIABLES DECLARED ABOVE
@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';
