$theme-colors: (
  'primary': #020f39,
  'secondary': #3d45d3,
  'tertiary': #e2254d,
  'quaternary': #b5d5f3
);
$font-family-base: 'Roboto Condensed', sans-serif;
$headings-font-family: 'Roboto Slab', serif;
$enable-rounded: false;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-print-styles: false;
$bv-enable-table-stacked: false;
$body-bg: #e5e4e5;

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap-vue/src/index.scss';

.brutal-card {
  border-width: 2px;
  &__primary {
    border-color: var(--primary);
    box-shadow: 5px 5px 0 var(--primary);
  }
  &__secondary {
    border-color: var(--secondary);
    box-shadow: 5px 5px 0 var(--secondary);
  }
  &__tertiary {
    border-color: var(--tertiary);
    box-shadow: 5px 5px 0 var(--tertiary);
  }
  &__quaternary {
    border-color: var(--quaternary);
    box-shadow: 5px 5px 0 var(--quaternary);
  }
}
.brutal-btn {
  border-width: 2px;
  border-style: solid;
  background: none;
  &__primary {
    background-color: var(--primary);
    border-color: var(--primary);
    color: white;
  }
  &__secondary {
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: white;
  }
  &__tertiary {
    background-color: var(--tertiary);
    border-color: var(--tertiary);
    color: white;
  }
  &__quaternary {
    background-color: var(--quaternary);
    border-color: var(--quaternary);
    color: white;
  }
}